<header class="header">
    <div class="header-content">
        <img src="/images/logo.png" class="logo">
        <div>
            <h1><span class="gradient-text">FastWay</span>
                <span class="additional-text">Поиск дешевых Ж/Д билетов</span></h1>
        </div>
    </div>
    <nav class="navigation">
        <div class="nav-wrapper">
            <a href="/" class="nav-btn">Поиск билетов</a>
            <a href="/station" class="nav-btn">Вокзалы и маршруты</a>
            <a href="/help" class="nav-btn">Помощь и руководство</a>
            <a href="/sitemap" class="nav-btn">Карта сайта</a>    
        </div>
    </nav>
</header>
        
