<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include ('blocks/navigation') -%>
    <div class="container">
        <div class="flight-info" style="gap: 8px; width: 800px;">
            <h2>Помощь и руководство</h2>
            <span>Добро пожаловать на сайт по продаже жд билетов!<br><br>
                
                Поиск и выбор билетов:
                <br> - Используйте удобный поиск для нахождения подходящего маршрута и билетов.
                <br> - Напишите города отправления и прибытия, дату и нажмите на кнопку "Поиск".
                <br> - Выберите рейс и тип вагона и нажмите на него.
                
                <br><br> Оформление заказа:
                <br>- Перейдите к выбранному рейсу и типу вагона и убедитесь, что выбранные билеты указаны корректно.
                <br>- Введите свои личные и контактные данные в форму.
                <br>- После ввода данных нажмите на кнопку "Продолжить".
                <br>- Проверьте свои данные и данные билета.
                <br>- Произведите оплату.
                <br><br>
                <br>Если у вас возникли вопросы или проблемы, обратитесь в службу поддержки сайта для получения помощи.
                <br><br>
                <br>Спасибо, что выбрали наш сайт для покупки ж/д билетов. Приятной поездки!</span>
        </div>
</div>
</body>
</html>