<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include ('blocks/navigation') -%>
    <div class="container">
        <div class="flight-info" style="gap: 8px; width: 800px;">
            <h2>Карта сайта</h2>
            <ul>
                <li class="level-1">
                    <a href="/">Главная (Поиск билетов и покупка)</a>
                </li>
                <li class="level-1">
                    <a href="/station">Вокзалы и маршруты</a>
                </li>
                <li class="level-2">
                    <a href="/station/city_Адлер/station_Адлер">Вокзал Адлер</a>
                </li>
                <li class="level-2">
                    <a href="/station/city_Казань/station_Казань">Вокзал Казань</a>
                </li>
                <li class="level-2">
                    <a href="/station/city_Краснодар/station_Краснодар">Вокзал Краснодар</a>
                </li>
                <li class="level-2">
                    <a href="/station/city_Москва">Город Москва</a>
                </li>
                <li class="level-3">
                    <a href="/station/city_Москва/station_Белорусский">Вокзал Белорусский</a>
                </li>
                <li class="level-3">
                    <a href="/station/city_Москва/station_Казанский">Вокзал Казанский</a>
                </li>
                <li class="level-3">
                    <a href="/station/city_Москва/station_Киевский">Вокзал Киевский</a>
                </li>
                <li class="level-3">
                    <a href="/station/city_Москва/station_Курский">Вокзал Курский</a>
                </li>
                <li class="level-3">
                    <a href="/station/city_Москва/station_Ленинградский">Вокзал Ленинградский</a>
                </li>
                <li class="level-3">
                    <a href="/station/city_Москва/station_Павелецкий">Вокзал Павелецкий</a>
                </li>
                <li class="level-3">
                    <a href="/station/city_Москва/station_Ярославский">Вокзал Ярославский</a>
                </li>
                <li class="level-2">
                    <a href="/station/city_Нижний%20Новгород/station_Нижний%20Новгород">Вокзал Нижний Новгород</a>
                </li>
                <li class="level-2">
                    <a href="/station/city_Санкт-Петербург">Город Санкт-Петербург</a>
                </li>
                <li class="level-3">
                    <a href="/station/city_Санкт-Петербург/station_Витебский">Вокзал Витебский</a>
                </li>
                <li class="level-3">
                    <a href="/station/city_Санкт-Петербург/station_Главный">Вокзал Главный</a>
                </li>
                <li class="level-3">
                    <a href="/station/city_Санкт-Петербург/station_Ладожский">Вокзал Ладожский</a>
                </li>
                <li class="level-2">
                    <a href="/station/city_Сочи/station_Сочи">Вокзал Сочи</a>
                </li>
                <li class="level-1">
                    <a href="/help">Помощь и руководство</a>
                </li>
                <li class="level-1">
                    <a href="/sitemap">Карта сайта</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>